<div class="card">
  <div class="card-header">Filtros</div>

  <div class="card-body">
    <form>
      <div class="form-floating my-1">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="De"
        />
        <label for="floatingInput">De</label>
      </div>
      <div class="form-floating my-1">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="Ate"
        />
        <label for="floatingInput">Até</label>
      </div>
    </form>
    <button class="btn btn-primary btn-block btn-sm">Filtrar</button>
  </div>
</div>
